export(bhl_authorsearch)
export(bhl_bioherlib)
export(bhl_booksearch)
export(bhl_getauthortitles)
export(bhl_getcollections)
export(bhl_getitembyidentifier)
export(bhl_getitemmetadata)
export(bhl_getitempages)
export(bhl_getlanguages)
export(bhl_getpagemetadata)
export(bhl_getpagenames)
export(bhl_getpageocrtext)
export(bhl_getsubjecttitles)
export(bhl_gettitlebibTex)
export(bhl_gettitlebyidentifier)
export(bhl_gettitleendNote)
export(bhl_gettitleitems)
export(bhl_gettitlemetadata)
export(bhl_getunpublisheditems)
export(bhl_getunpublishedtitles)
export(bhl_namecount)
export(bhl_namegetdetail)
export(bhl_namelist)
export(bhl_namesearch)
export(bhl_openurl)
export(bhl_subjectsearch)
export(bhl_titlesearchsimple)
export(query2message)
import(RCurl)
import(RJSONIO)
import(XML)
import(httr)
import(plyr)
importFrom(XML,xmlTreeParse)
importFrom(plyr,compact)
