export(authorsearch)
export(bioherlib)
export(booksearch)
export(getauthortitles)
export(getcollections)
export(getitembyidentifier)
export(getitemmetadata)
export(getitempages)
export(getlanguages)
export(getpagemetadata)
export(getpagenames)
export(getpageocrtext)
export(getsubjecttitles)
export(gettitlebibTex)
export(gettitlebyidentifier)
export(gettitleendNote)
export(gettitleitems)
export(gettitlemetadata)
export(getunpublisheditems)
export(getunpublishedtitles)
export(namecount)
export(namegetdetail)
export(namelist)
export(namesearch)
export(openurl)
export(query2message)
export(subjectsearch)
export(titlesearchsimple)
import(RCurl)
import(RJSONIO)
import(XML)
import(plyr)
