http_interactions:
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=AuthorSearch&authorname=dimmock&apikey=<<bhl_key>>&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[{"AuthorID":"189035","Name":"Dimmock,
        Anna Katherina","CreatorUrl":"https://www.biodiversitylibrary.org/creator/189035"},{"AuthorID":"59023","Name":"Dimmock,
        G","CreatorUrl":"https://www.biodiversitylibrary.org/creator/59023"},{"AuthorID":"189042","Name":"Dimmock,
        Geo ","CreatorUrl":"https://www.biodiversitylibrary.org/creator/189042"},{"AuthorID":"189021","Name":"Dimmock,
        George","CreatorUrl":"https://www.biodiversitylibrary.org/creator/189021"},{"AuthorID":"1970","Name":"Dimmock,
        George,","Dates":"1852-","CreatorUrl":"https://www.biodiversitylibrary.org/creator/1970"},{"AuthorID":"8126","Name":"Dimmock,
        George,","Dates":"1852-1930","CreatorUrl":"https://www.biodiversitylibrary.org/creator/8126"}]}'
  recorded_at: 2020-01-29 00:11:35 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
[...]
