http_interactions:
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=GetItemMetadata&apikey=<<bhl_key>>&pages=TRUE&id=16800&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL2
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[{"ItemID":16800,"TitleID":"1726","ThumbnailPageID":"1328691","Source":"Internet
        Archive","SourceIdentifier":"anatomyofmouthpa00dimm","HoldingInstitution":"MBLWHOI
        Library","Sponsor":"MBLWHOI Library","Language":"English","CopyrightStatus":"Public
        domain.  The BHL considers that this work is no longer under copyright protection.","ItemUrl":"https://www.biodiversitylibrary.org/item/16800","TitleUrl":"https://www.biodiversitylibrary.org/bibliography/1726","ItemThumbUrl":"https://www.biodiversitylibrary.org/pagethumb/1328691","ItemTextUrl":"https://www.biodiversitylibrary.org/itemtext/16800","ItemPDFUrl":"https://www.biodiversitylibrary.org/itempdf/16800","ItemImagesUrl":"https://www.biodiversitylibrary.org/itemimages/16800","CreationDate":"2008/01/25
        11:35:31","Pages":[{"PageID":1328693,"ItemID":16800,"TextSource":"OCR","PageUrl":"https://www.biodiversitylibrary.org/page/1328693","ThumbnailUrl":"https://www.biodiversitylibrary.org/pagethumb/1328693","FullSizeImageUrl":"https://www.biodiversitylibrary.org/pageimage/1328693","OcrUrl":"https://www.biodiversitylibrary.org/pagetext/1328693","PageTypes":[{"PageTypeName":"Cover"}],"PageNumbers":[]},{"PageID":1328651,"ItemID":16800,"TextSource":"OCR","PageUrl":"https://www.biodiversitylibrary.org/page/1328651","ThumbnailUrl":"https://www.biodiversitylibrary.org/pagethumb/1328651","FullSizeImageUrl":"https://www.biodiversitylibrary.org/pageimage/1328651","OcrUrl":"https://www.biodiversitylibrary.org/pagetext/1328651","PageTypes":[{"PageTypeName":"Text"}],"PageNumbers":[]},{"PageID":1328652,"ItemID":16800,"TextSource":"OCR","PageUrl":"https://www.biodiversitylibrary.org/page/1328652","Thu[...]
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=GetItemMetadata&apikey=<<bhl_key>>&pages=TRUE&id=16800&format=xml
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/xml; charset=utf-8
      x-server-name: BHL2
    body:
      encoding: UTF-8
      file: no
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><Status>ok</Status><ErrorMessage
        /><Result><Item><ItemID>16800</ItemID><TitleID>1726</TitleID><ThumbnailPageID>1328691</ThumbnailPageID><Source>Internet
        Archive</Source><SourceIdentifier>anatomyofmouthpa00dimm</SourceIdentifier><HoldingInstitution>MBLWHOI
        Library</HoldingInstitution><Sponsor>MBLWHOI Library</Sponsor><Language>English</Language><CopyrightStatus>Public
        domain.  The BHL considers that this work is no longer under copyright protection.</CopyrightStatus><ItemUrl>https://www.biodiversitylibrary.org/item/16800</ItemUrl><TitleUrl>https://www.biodiversitylibrary.org/bibliography/1726</TitleUrl><ItemThumbUrl>https://www.biodiversitylibrary.org/pagethumb/1328691</ItemThumbUrl><ItemTextUrl>https://www.biodiversitylibrary.org/itemtext/16800</ItemTextUrl><ItemPDFUrl>https://www.biodiversitylibrary.org/itempdf/16800</ItemPDFUrl><ItemImagesUrl>https://www.biodiversitylibrary.org/itemimages/16800</ItemImagesUrl><CreationDate>2008/01/25
        11:35:31</CreationDate><Pages><Page><PageID>1328693</PageID><ItemID>16800</ItemID><TextSource>OCR</TextSource><PageUrl>https://www.biodiversitylibrary.org/page/1328693</PageUrl><ThumbnailUrl>https://www.biodiversitylibrary.org/pagethumb/1328693</ThumbnailUrl><FullSizeImageUrl>https://www.biodiversitylibrary.org/pageimage/1328693</FullSizeImageUrl><OcrUrl>https://www.biodiversitylibrary.org/pagetext/1328693</OcrUrl><PageTypes><PageType><PageTypeName>Cover</PageTypeName></PageType></PageTypes><PageNumbers
        /></Page><Page><PageID>1328651</PageID><ItemID>16800</ItemID><TextSource>OCR</TextSource><PageUrl>https://www.biodiversitylibrary.org/page/1328651</PageUrl><ThumbnailUrl>https://www.biodiversitylibrary.org/pagethumb/1328651</ThumbnailUrl><FullSizeImageUrl>https://www.biodiversitylibrary.org/pageimage/1328651</FullSizeImageUrl><OcrUrl>https://www.biodiversitylibrary.org/pagetext/1328651</OcrUrl><PageTypes><PageType><Pag[...]
[...]
