http_interactions:
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=GetTitleMetadata&apikey=<<bhl_key>>&format=json&id=1726&items=FALSE
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL2
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[{"TitleID":1726,"Genre":"Monograph/Item","MaterialType":"Published
        material","FullTitle":"The anatomy of the mouth-parts and of the sucking apparatus
        of some Diptera.  ","ShortTitle":"The anatomy of the mouth-parts and of the
        sucking apparatus of some Diptera.","SortTitle":"anatomy of the mouth-parts
        and of the sucking apparatus of","CallNumber":"QL538 .D58","PublisherPlace":"Boston,","PublisherName":"A.
        Williams \u0026 co.,","PublicationDate":"1881.","Doi":"10.5962/bhl.title.1726","TitleUrl":"https://www.biodiversitylibrary.org/bibliography/1726","CreationDate":"2008/01/18
        08:47:16","Authors":[{"AuthorID":"1970","Name":"Dimmock, George,","Role":"Main
        Entry -- Personal Name (MARC 100)","Dates":"1852-"}],"Subjects":[{"SubjectText":"Diptera","CreationDate":"2008/01/25
        11:35:31"}],"Identifiers":[{"IdentifierName":"DLC","IdentifierValue":"08023002"},{"IdentifierName":"OCLC","IdentifierValue":"2992225"}],"Variants":[],"Notes":[{"NoteText":"Vita.","NoteSequence":"1","NoteTypeName":"General"},{"NoteText":"Inaug.-diss.--Leipzig.","NoteSequence":"2","NoteTypeName":"Dissertation"}]}]}'
  recorded_at: 2020-11-25 16:37:14 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=GetTitleMetadata&apikey=<<bhl_key>>&format=xml&id=1726&items=FALSE
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/xml; charset=utf-8
      x-server-name: BHL2
    body:
      encoding: UTF-8
      file: no
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><Status>ok</Status><ErrorMessage
        /><Result><Title><TitleID>1726</TitleID><Genre>Monograph/Item</Genre><MaterialType>Published
        material</MaterialType><FullTitle>The anatomy of the mouth-parts and of the
        sucking apparatus of some Diptera.  </FullTitle><ShortTitle>The anatomy of
        the mouth-parts and of the sucking apparatus of some Diptera.</ShortTitle><SortTitle>anatomy
        of the mouth-parts and of the sucking apparatus of</SortTitle><CallNumber>QL538
        .D58</CallNumber><PublisherPlace>Boston,</PublisherPlace><PublisherName>A.
        Williams &amp; co.,</PublisherName><PublicationDate>1881.</PublicationDate><Doi>10.5962/bhl.title.1726</Doi><TitleUrl>https://www.biodiversitylibrary.org/bibliography/1726</TitleUrl><CreationDate>2008/01/18
        08:47:16</CreationDate><Authors><Author><AuthorID>1970</AuthorID><Name>Dimmock,
        George,</Name><Role>Main Entry -- Personal Name (MARC 100)</Role><Dates>1852-</Dates></Author></Authors><Subjects><Subject><SubjectText>Diptera</SubjectText><CreationDate>2008/01/25
        11:35:31</CreationDate></Subject></Subjects><Identifiers><Identifier><IdentifierName>DLC</IdentifierName><IdentifierValue>08023002</IdentifierValue></Identifier><Identifier><IdentifierName>OCLC</IdentifierName><IdentifierValue>2992225</IdentifierValue></Identifier></Identifiers><Variants
        /><Notes><TitleNote><NoteText>Vita.</NoteText><NoteSequence>1</NoteSequence><NoteTypeName>General</NoteTypeName></TitleNote><TitleNote><NoteText>Inaug.-diss.--Leipzig.</NoteText><NoteSequence>2</NoteSequence><NoteTypeName>Dissertation</NoteTypeName></TitleNote></Notes></Title></Result></Response>"
  recorded_at: 2020-11-25 16:37:14 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
[...]
