http_interactions:
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=GetPageMetadata&apikey=<<bhl_key>>&pageid=1328690&ocr=t&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL2
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[{"PageID":1328690,"ItemID":16800,"TextSource":"OCR","PageUrl":"https://www.biodiversitylibrary.org/page/1328690","ThumbnailUrl":"https://www.biodiversitylibrary.org/pagethumb/1328690","FullSizeImageUrl":"https://www.biodiversitylibrary.org/pageimage/1328690","OcrUrl":"https://www.biodiversitylibrary.org/pagetext/1328690","OcrText":"\n\nThe
        few diptera whose mouth-parts have been the object of the anatom- \n\n ical
        studies, the results of which are noted in the following pages, were \n\n
        chosen, on the one hand, with especial reference to their presenting a series
        \n\n beginning with a species possessing simple, separate and fully developed
        mouth- \n\n parts, and ending with a species of which the complexity of the
        mouth-parts \n\n was due to coalescence and incomplete develo[...]
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=GetPageMetadata&apikey=<<bhl_key>>&pageid=1328690&ocr=t&format=xml
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/xml; charset=utf-8
      x-server-name: BHL2
    body:
      encoding: UTF-8
      file: no
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><Status>ok</Status><ErrorMessage
        /><Result><Page><PageID>1328690</PageID><ItemID>16800</ItemID><TextSource>OCR</TextSource><PageUrl>https://www.biodiversitylibrary.org/page/1328690</PageUrl><ThumbnailUrl>https://www.biodiversitylibrary.org/pagethumb/1328690</ThumbnailUrl><FullSizeImageUrl>https://www.biodiversitylibrary.org/pageimage/1328690</FullSizeImageUrl><OcrUrl>https://www.biodiversitylibrary.org/pagetext/1328690</OcrUrl><OcrText>\n\nThe
        few diptera whose mouth-parts have been the object of the anatom- \n\n ical
        studies, [...]
[...]
