http_interactions:
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=GetCollections&apikey=<<bhl_key>>&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[{"CollectionID":"97","CollectionName":"A
        History of Cats: 1858-1922","CollectionDescription":"Cats were not always
        the beloved household pets as we know them today. This collection of books
        from the Library of Congress illustrates the variety of ways that people thought
        about domestic cats from 1858 to 1922."},{"CollectionID":"85","CollectionName":"Antarctic
        Exploration \u0026 Discovery","CollectionDescription":"This collection contains
        rare books, journals and field diaries relating to the exploration and biodiversity
        of Antarctica."},{"C[...]
[...]
