http_interactions:
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=PublicationSearch&searchterm=cocos%20island%20costa%20rica%20birds&searchtype=C&apikey=<<bhl_key>>&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL2
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[{"BHLType":"Part","FoundIn":"Metadata","Volume":"2","Authors":[{"Name":"Gifford,
        Edward Winslow"}],"PartUrl":"https://www.biodiversitylibrary.org/part/69838","PartID":"69838","Genre":"Article","Title":"Field
        notes on the land birds of the Galapagos Islands, and of Cocos Island,Costa
        Rica","ContainerTitle":"Proceedings of the California Academy of Sciences,
        4th series.","Series":"4","Date":"1919","PageRange":"189--258"},{"BHLType":"Item","FoundIn":"Metadata","ItemID":"167380","TitleID":"89765","ExternalUrl":"http://hdl.handle.net/2246/1677","ItemUrl":"https://www.biodiversitylibrary.org/item/167380","TitleUrl":"https://www.biodiversitylibrary.org/bibliography/89765","Authors":[{"Name":"Slud,
        Paul."}],"Genre":"Book","Title":"The birds of Cocos Island (Costa Rica). Bulletin
        of the AMNH ; v. 134, article 4"}]}'
  recorded_at: 2020-11-25 16:37:17 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=PublicationSearch&searchterm=nematocerous&searchtype=C&apikey=<<bhl_key>>&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL2
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[{"BHLType":"Item","FoundIn":"Metadata","ItemID":"35296","TitleID":"8531","Volume":"pt.1-2
        (1903-1905)","ItemUrl":"https://www.biodiversitylibrary.org/item/35296","TitleUrl":"https://www.biodiversitylibrary.org/bibliography/8531","MaterialType":"Published
        material","PublisherPlace":"Albany","PublisherName":"University of the State
        of New York,","PublicationDate":"1903-1905","Authors":[{"Name":"Johannsen,
        O. A. (Oskar Augustus),"}],"Genre":"Book","Title":"Aquatic nematocerous diptera.
        (I)"},{"BHLType":"Part","FoundIn":"Metadata","Volume":"68","Authors":[{"Name":"Johannsen,
        O A"}],"PartUrl":"https://www.biodiversitylibrary.org/part/9363","PartID":"9363","Genre":"Article","Title":"Aquatic
        nematocerous Diptera","ContainerTitle":"Bulletin / New York State Museum.","Date":"1903","PageRange":"328--441"},{"BHLType":"Part","FoundIn":"Metadata","Volume":"8","Authors":[{"Name":"Kellogg,
        Vernon L"}],"PartUrl":"https://www.biodiversitylibrary.org/part/183259","PartID":"183259","Genre":"Article","Title":"The
        Mouthpart of the Nematocerous Diptera, V","ContainerTitle":"Psyche.","Date":"1899","PageRange":"363--365"},{"BHLType":"Part","FoundIn":"Metadata","Volume":"51","Authors":[{"Name":"Alexander,
        Charles P. (Charles Paul),"}],"PartUrl":"https://www.biodiversitylibrary.org/part/248893","PartID":"248893","Genre":"Article","Title":"Undescribed
        species of nematocerous Diptera","ContainerTitle":"Bulletin of the Brooklyn
        Entomological Society.","Issue":"3","Date":"1956","PageRange":"75--81"},{"BHLType":"Part","FoundIn":"Metadata","Volume":"8","Authors":[{"Name":"Kellogg,
        Vernon L"}],"PartUrl":"https://www.biodiversitylibrary.org/part/183254","PartID":"183254","Genre":"Article","Title":"The
        Mouthparts of the Nematocerous Diptera, IV","ContainerTitle":"Psyche.","Date":"1899","PageRange":"355--359"},{"BHLType":"Part","FoundIn":"Metadata","Volume":"8","Authors":[{"Name":"Kellogg,
        Vernon L"}],"PartUrl":"https://www.biodivers[...]
