http_interactions:
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=SubjectSearch&apikey=<<bhl_key>>&format=json&subject=diptera
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[{"SubjectText":"DIPTERA
        (CLASSIFICAÇÃO)"},{"SubjectText":"Diptera"},{"SubjectText":"Diptera\n  \n\n                \n  \n    Scathophagidae"},{"SubjectText":"Diptera
        larvae"},{"SubjectText":"Diptera parasitoids"},{"SubjectText":"Diptera, Chironomidae,
        fossil, proboscis, feeding,"},{"SubjectText":"Diptera, Fossil"},{"SubjectText":"Diptera,
        Periscelididae (Stenomicrinae), new speci"},{"SubjectText":"Diptera, Ptychopteridae,
        Ptychoptera, revision, Te"},{"SubjectText":"Diptera, Tachinidae"},{"SubjectText":"Diptera/ecology"},{"SubjectText":"Diptera/key"},{"SubjectText":"Diptera:
        Streblidae"},{"SubjectText":"Larvae of Diptera"},{"SubjectText":"Mansonia
        (Diptera)"},{"SubjectText":"Tabanidae, Diptera, Serbia, Europe"},{"SubjectText":"alien,
        Europe, Diptera"},{"SubjectText":"larvas de Diptera"},{"SubjectText":"nematocerous
        Diptera"}]}'
  recorded_at: 2020-01-29 00:19:08 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=SubjectSearch&apikey=<<bhl_key>>&format=xml&subject=diptera
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/xml; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><Status>ok</Status><ErrorMessage
        /><Result><Subject><SubjectText>DIPTERA (CLASSIFICAÇÃO)</SubjectText></Subject><Subject><SubjectText>Diptera</SubjectText></Subject><Subject><SubjectText>Diptera\n
        \ \n\n                \n  \n    Scathophagidae</SubjectText></Subject><Subject><SubjectText>Diptera
        larvae</SubjectText></Subject><Subject><SubjectText>Diptera parasitoids</SubjectText></Subject><Subject><SubjectText>Diptera,
        Chironomidae, fossil, proboscis, feeding,</SubjectText></Subject><Subject><SubjectText>Diptera,
        F[...]
[...]
