http_interactions:
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=PublicationSearchAdvanced&title=cocos%20island&authorname=gifford&apikey=<<bhl_key>>&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[{"BHLType":"Part","FoundIn":"Metadata","Volume":"2","Authors":[{"Name":"Gifford,
        Edward Winslow"}],"PartUrl":"https://www.biodiversitylibrary.org/part/69838","PartID":"69838","Genre":"Article","Title":"Field
        notes on the land birds of the Galapagos Islands, and of Cocos Island,Costa
        Rica","ContainerTitle":"Proceedings of the California Academy of Sciences,
        4th series.","Series":"4","Date":"1919","PageRange":"189--258"},{"BHLType":"Part","FoundIn":"Metadata","Volume":"2","Authors":[{"Name":"Gifford,
        Edward Winslow"}],"PartUrl":"https://www.biodiversitylibrary.org/part/70086","PartID":"70086","Genre":"Article","Title":"The
        birds of the Galapagos Islands, with observations on the birds of Cocos and
        Clipperton Islands (Columbiformes to Pelecaniformes)","ContainerTitle":"Proceedings
        of the California Academy of Sciences, 4th series.","Series":"4","Date":"1913","PageRange":"1--132"}]}'
  recorded_at: 2020-01-29 00:20:14 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
