http_interactions:
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=NameSearch&name=poa%20annua&apikey=<<bhl_key>>&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[{"NameConfirmed":"Poa annua"},{"NameConfirmed":"Poa
        annua L."},{"NameConfirmed":"Poa annua L. (1753)"},{"NameConfirmed":"Poa annua
        Linnaeus"},{"NameConfirmed":"Poa annua fo. purpurea Mike L.Grant"},{"NameConfirmed":"Poa
        annua fo. remotiflora Hack."},{"NameConfirmed":"Poa annua hypsophila"},{"NameConfirmed":"Poa
        annua raniglumis"},{"NameConfirmed":"Poa annua reptans"},{"NameConfirmed":"Poa
        annua rigidiuscula"},{"NameConfirmed":"Poa annua rigidula"},{"NameConfirmed":"Poa
   [...]
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=NameSearch&name=poa%20annua&apikey=<<bhl_key>>&format=xml
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/xml; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><Status>ok</Status><ErrorMessage
        /><Result><Name><NameConfirmed>Poa annua</NameConfirmed></Name><Name><NameConfirmed>Poa
        annua L.</NameConfirmed></Name><Name><NameConfirmed>Poa annua L. (1753)</NameConfirmed></Name><Name><NameConfirmed>Poa
        annua Linnaeus</NameConfirmed></Name><Name><NameConfirmed>Poa annua fo. purpurea
        Mike L.Grant</NameConfirmed></Name><Name><NameConfirmed>Poa annua fo. remotiflora
        Hack.</NameConfirmed></Name><Name><NameConfirmed>Poa annua hypsophila</NameConfirmed></Name><Name><NameConfirmed>P[...]
[...]
