http_interactions:
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=GetLanguages&apikey=<<bhl_key>>&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[{"LanguageCode":"AFR","LanguageName":"Afrikaans"},{"LanguageCode":"ARA","LanguageName":"Arabic"},{"LanguageCode":"ARC","LanguageName":"Aramaic"},{"LanguageCode":"MAP","LanguageName":"Austronesian
        (Other)"},{"LanguageCode":"BUL","LanguageName":"Bulgarian"},{"LanguageCode":"BUR","LanguageName":"Burmese"},{"LanguageCode":"CAR","LanguageName":"Carib"},{"LanguageCode":"CAT","LanguageName":"Catalan"},{"LanguageCode":"CEL","LanguageName":"Celtic
        (Other)"},{"LanguageCode":"CHI","LanguageName":"Chinese"},{"LanguageCode":"HRV[...]
[...]
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=GetLanguages&apikey=<<bhl_key>>&format=xml
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/xml; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><Status>ok</Status><ErrorMessage
        /><Result><Language><LanguageCode>AFR</LanguageCode><LanguageName>Afrikaans</LanguageName></Language><Language><LanguageCode>ARA</LanguageCode><LanguageName>Arabic</LanguageName></Language><Language><LanguageCode>ARC</LanguageCode><LanguageName>Aramaic</LanguageName></Language><Language><LanguageCode>MAP</LanguageCode><LanguageName>Austronesian
        (Other)</LanguageName></Language><Language><LanguageCode>BUL</LanguageCode><LanguageName>Bulgarian</LanguageName></Language><Language><LanguageCode>BUR</LanguageCode[...]
